<html>

    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <div id = "todo-app-body">
            <div id = "app-title">
                <h1>pLANER : TODO APP</h1>
            </div>
            <div id = "input-form">
                <form action="/create-task" method = "POST">
                    <div id = "input-description-div">
                        <p>Description</p>
                        <input type="text" id = "input-description" placeholder="What do you need to do?">
                    </div>
                    <div id = "input-category-date-flex">
                        <div id = "input-category-div">
                            <p>Category</p>
                            <select name="category" id="category">
                                <option value="pesonal">Personal</option>
                                <option value="work">Work</option>
                                <option value="other">Other</option>
                                <option value="" selected style="opacity: 0.8;">Choose a category</option>
                            </select>
                        </div>
                        <div id = "input-date-div">
                            <p>Date</p>
                            <input type="date" id = "input-date">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>