<html>

    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1>Everything Is Working Fine At The Server Side, You Are Now At The Home Page</h1>
    </body>

</html>